<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

</head>

<body>

    <div class="laundry-navbar">
        <h5 class="navbar-head">Laundry</h5>
        <h5 class="navbar-head">Available store</h5>
        <h5 class="navbar-head">My store</h5>
        <h5 class="navbar-head">Name</h5>
    </div>
    <form>

        <input type="radio" name="fancy" autofocus value="clubs" id="clubs" />
        <input type="radio" name="fancy" value="hearts" id="hearts" />
        <input type="radio" name="fancy" value="spades" id="spades" />
        <input type="radio" name="fancy" value="diamonds" id="diamonds" />

        <label><img class="imgone"
                src="http://thewowstyle.com/wp-content/uploads/2015/01/elegant-interior-design-what-does-it-mean-in-singapore-home-kids-room-images-interior-design.jpg"
                alt=""></label>

        <label for="hearts"><img class="imgtwo"
                src="https://toggl.com/blog/wp-content/uploads/2020/07/What-a-WeWork-Interior-Designer-Can-Teach-Us-About-Our-Workspace-2.jpg"
                alt=""></label>

        <label for="spades"><img class="imgthree"
                src="https://4.bp.blogspot.com/-E7JFNw70EtA/UU8d7yBMTYI/AAAAAAAABRs/xTzk0Hs_jX4/s1600/home-office-interior-design-photos.jpg"
                alt=""></label>

        <label for="diamonds"><img class="imgfour"
                src="http://www.idesignarch.com/wp-content/uploads/Interior-Design-Ideas-JDG_12.jpg" alt=""></label>




    </form>
    <div class="about">
        <h1>about</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit perferendis aut officia quasi hic
            blanditiis distinctio nobis provident temporibus sequi reprehenderit illum neque odio, nemo quae voluptatum
            odit quia possimus!</p>
    </div>
    <div class="service">
        <h1>service</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit perferendis aut officia quasi hic
            blanditiis distinctio nobis provident temporibus sequi reprehenderit illum neque odio, nemo quae voluptatum
            odit quia possimus!</p>
    </div>
</body>

</html>